.info-box {
	background-color: #d1ecf1; /* Light blue background */
	border: 1px solid #bee5eb; /* Light border */
	border-radius: 5px; /* Rounded corners */
	padding: 15px; /* Padding inside the box */
	margin-bottom: 15px; /* Space below the box */
	color: #0c5460; /* Darker text color */
}

.info-box p {
	margin: 0; /* Remove default paragraph margin */
}

.warning-box {
	background-color: #fff3cd; /* Yellow background */
	border: 1px solid #ffeeba; /* Light border */
	border-radius: 5px; /* Rounded corners */
	padding: 15px; /* Padding inside the box */
	margin-bottom: 15px; /* Space below the box */
	color: #856404; /* Darker text color */
}
.warning-box p {
	margin: 0; /* Remove default paragraph margin */
}
